 .u-section-1 {
  background-image: url("images/Untitleddesign1.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 649px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 60px 0 0 550px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 32px -13px 60px 583px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    margin-left: 350px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.25rem;
    margin-left: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 410px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 130px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 373px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 40.53% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 308px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 283px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-left: 183px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 15px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 15px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 967px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 14px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 510px;
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-1 {
  margin: 27px 0 0 40px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  line-height: 1;
  margin: 40px 20px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  line-height: 1;
  margin: 20px 20px 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  line-height: 1;
  margin: 31px 20px 0;
}

.u-section-3 .u-image-1 {
  min-height: 453px;
  background-image: url("images/WhatsAppImage2022-11-20at6.52.44PM.jpeg");
  background-position: 49.91% 50%;
}

.u-section-3 .u-image-2 {
  min-height: 900px;
  background-image: url("images/Top-Gadgets-to-Reduce-Loneliness-for-Seniors-HN2885-iStock-497213633-Sized.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 961px;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-3 .u-text-5 {
  margin: 52px 0 0 44px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  line-height: 1;
  margin: 20px 12px 0 32px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  line-height: 1;
  margin: 22px 12px 0 32px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  line-height: 1;
  margin: 27px 12px 0 32px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  line-height: 1;
  margin: 35px 22px 0;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  line-height: 1;
  margin: 27px 22px 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  line-height: 1;
  margin: 31px 22px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 421px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 273px;
  }

  .u-section-3 .u-image-2 {
    min-height: 500px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 792px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 9px;
    padding-right: 9px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 541px;
}

.u-section-4 .u-text-1 {
  width: 197px;
  font-weight: 700;
  margin: 19px auto 0;
}

.u-section-4 .u-layout-wrap-1 {
  height: 401px;
  width: 1140px;
  margin: -94px -12px 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 30px;
}

.u-section-4 .u-icon-1 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 30px 30px 1px 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 401px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
}

.u-section-4 .u-icon-2 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 30px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 39px 19px 0 11px;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 470px;
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-6 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 11px 0 0;
}

.u-section-4 .u-layout-cell-4 {
  min-height: 470px;
  background-image: none;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 58px;
  width: 58px;
  margin: 39px auto 0 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.875rem;
  font-weight: 400;
  margin: 31px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 11px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -242px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: absolute;
    margin-top: 276px;
    margin-bottom: 0;
    width: 940px;
    margin-right: 0;
    height: auto;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 25px;
  }

  .u-section-4 .u-icon-1 {
    height: 48px;
    width: 48px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 25px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 25px;
  }

  .u-section-4 .u-icon-2 {
    height: 48px;
    width: 48px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 25px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 25px;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 388px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-4 .u-icon-3 {
    height: 48px;
    width: 48px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 25px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 25px;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 388px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-1 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-2 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-4 .u-icon-3 {
    height: 53px;
    width: 53px;
    margin-top: 23px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-4 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 340px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-icon-1 {
    height: 49px;
    width: 49px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-icon-2 {
    height: 49px;
    width: 49px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-4 .u-icon-3 {
    height: 49px;
    width: 49px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 513px;
  margin: 1px auto 0;
}

.u-section-5 .u-group-1 {
  min-height: 450px;
  height: auto;
  width: 1078px;
  margin: 23px 17px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-5 .u-icon-1 {
  height: 104px;
  width: 104px;
  margin: 35px auto 0 20px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  margin: 17px 20px 0;
}

.u-section-5 .u-text-2 {
  text-transform: none;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.875rem;
  margin: 6px 0 0 40px;
}

.u-section-5 .u-shape-1 {
  width: 15px;
  height: 252px;
  margin: -284px auto 32px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 889px;
    margin-right: 0;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-5 .u-icon-1 {
    height: 86px;
    width: 86px;
    margin-right: 544px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
  }

  .u-section-5 .u-shape-1 {
    width: 12px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-group-1 {
    width: 681px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-icon-1 {
    height: 66px;
    width: 66px;
    margin-right: 344px;
  }

  .u-section-5 .u-shape-1 {
    width: 9px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-group-1 {
    min-height: 474px;
    width: 493px;
    margin-top: 45px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-5 .u-icon-1 {
    height: 62px;
    width: 62px;
    margin-right: 163px;
  }

  .u-section-5 .u-shape-1 {
    width: 13px;
    height: 331px;
    margin-top: -431px;
    margin-bottom: 147px;
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 768px;
  }

  .u-section-5 .u-group-1 {
    min-height: 626px;
    width: 302px;
    margin-top: 70px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 1px;
    padding-right: 1px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 49px;
  }

  .u-section-5 .u-shape-1 {
    width: 17px;
    height: 472px;
    margin-top: -578px;
    margin-bottom: 176px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 972px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 88px;
  margin-bottom: 19px;
}

.u-section-6 .u-image-1 {
  background-image: url("images/color.jpg");
  min-height: 792px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 792px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 33px;
  padding-right: 20px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 53px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 52px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 932px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 70px;
    margin-bottom: 70px;
  }

  .u-section-6 .u-image-1 {
    background-position: 75.15% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 27px;
    padding-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    background-position: 44.13% 50%;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 17px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1601px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 47px;
  }

  .u-section-6 .u-image-1 {
    min-height: 625px;
    background-position: 75.15% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 5px;
  }

  .u-section-6 .u-text-1 {
    font-size: 3rem;
    margin-top: 64px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1591px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -31px;
  }

  .u-section-6 .u-image-1 {
    min-height: 602px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 785px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 1px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 823px;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 10px 398px 0 auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  font-size: 1.5rem;
  margin: 566px 435px 0 auto;
  padding: 0;
}

.u-section-7 .u-image-1 {
  width: 462px;
  height: 370px;
  margin: -508px 24px 0 auto;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  margin: -417px auto 0 68px;
}

.u-section-7 .u-form-1 {
  height: 439px;
  margin: 10px 550px 0 20px;
}

.u-section-7 .u-input-1 {
  text-transform: uppercase;
}

.u-section-7 .u-form-group-2 {
  margin-left: 0;
}

.u-section-7 .u-input-2 {
  text-transform: uppercase;
}

.u-section-7 .u-input-3 {
  text-transform: uppercase;
}

.u-section-7 .u-input-4 {
  text-transform: uppercase;
}

.u-section-7 .u-btn-2 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.u-section-7 .u-btn-3 {
  text-transform: uppercase;
  font-size: 2.25rem;
  margin: -163px 99px 0 auto;
  padding: 12px 54px 14px;
}

.u-section-7 .u-btn-4 {
  background-image: none;
  font-size: 1.5rem;
  margin: 80px 316px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    margin-right: 328px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 101px;
    margin-right: 235px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -30px;
  }

  .u-section-7 .u-text-2 {
    margin-top: -334px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 370px;
    margin-left: 0;
  }

  .u-section-7 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 116px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-right: 251px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 15px;
  }

  .u-section-7 .u-form-1 {
    margin-right: 150px;
  }

  .u-section-7 .u-btn-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-right: 188px;
  }

  .u-section-7 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-7 .u-form-1 {
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 725px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 118px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: -70px;
  }

  .u-section-7 .u-image-1 {
    width: 340px;
    height: 272px;
    margin-top: 142px;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-top: -272px;
  }

  .u-section-7 .u-form-1 {
    margin-top: -119px;
  }
}