.u-section-1 .u-sheet-1 {
  min-height: 15px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 608px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15px;
  }
} .u-section-2 {
  background-image: linear-gradient(#94b3b3, #b9dfdf);
}

.u-section-2 .u-sheet-1 {
  min-height: 373px;
}

.u-section-2 .u-group-1 {
  width: 1074px;
  min-height: 290px;
  height: auto;
  margin: 42px 27px 42px auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1rem;
  margin: 42px auto 0 62px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  font-size: 1rem;
  margin: -18px auto 0 211px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0 207px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  font-size: 1rem;
  margin: -12px auto 0 65px;
}

.u-section-2 .u-text-6 {
  font-weight: 700;
  font-size: 1rem;
  margin: 14px auto 0 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    margin-right: 0;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 166px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 163px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 102px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 100px;
  }
}